// stylelint-disable
@font-face {
  font-family: "Circular Pro";
  src: url("global/fonts/CircularPro-Bold.woff2") format("woff2"),
    url("global/fonts/CircularPro-Bold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Circular Pro";
  src: url("global/fonts/CircularPro-Book.woff2") format("woff2"),
    url("global/fonts/CircularPro-Book.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Circular Pro";
  src: url("global/fonts/CircularPro-Book.woff2") format("woff2"),
    url("global/fonts/CircularPro-Book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Circular Pro";
  src: url("global/fonts/CircularPro-Black.woff2") format("woff2"),
    url("global/fonts/CircularPro-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
