@each $key, $breakpoint in $grid-breakpoints {
  //$i: index($grid-breakpoints, $key);
  @media (min-width: $breakpoint) {
    .content {
      //color: $breakpoint;
      padding-left: map-get($container-gutter-width, $key);
      padding-right: map-get($container-gutter-width, $key);

      .row > .col,
      .row > [class*="col-"] {
        padding-right: map-get($columns-gutter-width, $key);
        padding-left: map-get($columns-gutter-width, $key);
      }
    }
  }

  .yellow {
    background: #ffcc00;
  }

  .red {
    background: #ff0000;
  }
}

.full-bleed {
  width: 100%;
  padding: 15px;
  background: #c6c6c6;
}
