// Responsive helpers for applying media queries in the context of your selectors
$retina: "(-webkit-min-device-pixel-ratio: 1.5)",
  "(min--moz-device-pixel-ratio: 1.5)", "(-o-min-device-pixel-ratio: 3/2)",
  "(min-device-pixel-ratio: 1.5)";
$xs-only: "only screen and (max-width: $screen-xs-max)";
$sm-only: "only screen and (min-width: $screen-xs-min) and (max-width: $screen-sm-max)";
$md-only: "only screen and (min-width: $screen-sm-min) and (max-width: $screen-md-max)";
$lg-only: "only screen and (min-width: $screen-md-min) and (max-width: $screen-lg)";
$sm-and-below: "only screen and (max-width: $screen-xs-max)";
$md-and-below: "only screen and (max-width: $screen-sm-max)";
$lg-and-below: "only screen and (max-width: $screen-lg-min)";
$sm-and-above: "only screen and (min-width: $screen-xs-min)";
$md-and-above: "only screen and (min-width: $screen-sm-min)";
$lg-and-above: "only screen and (min-width: $screen-md-min)";
$xl-and-above: "only screen and (min-width: $screen-lg-min)";

//
// Color system
//
// stylelint-disable
// $white:    #fff !default;
$gray-100: #ececec !default;
$gray-200: #a8a7a7 !default;
$gray-300: #878787 !default;
$gray-400: #575756 !default;
// $gray-500: #adb5bd !default;
// $gray-600: #6c757d !default;
// $gray-700: #495057 !default;
// $gray-800: #343a40 !default;
// $gray-900: #212529 !default;
// $black:    #000 !default;

// $grays: () !default;
// $grays: map-merge((
// "100": $gray-100,
// "200": $gray-200,
// "300": $gray-300,
// "400": $gray-400,
// "500": $gray-500,
// "600": $gray-600,
// "700": $gray-700,
// "800": $gray-800,
// "900": $gray-900
// ), $grays);

// $blue:    #007bff !default;
// $indigo:  #6610f2 !default;
// $purple:  #6f42c1 !default;
// $pink:    #e83e8c !default;
$red: #b30909 !default;
$orange: #e87722 !default;
$yellow: #fed141 !default;
$green: #6eceb2 !default;
// $teal:    #20c997 !default;
// $cyan:    #17a2b8 !default;
$grey: #183028 !default;
$turquoise-dark: #006269 !default;
$turquoise-mid: #0097a9 !default;
$turquoise-light: #63b1bc !default;

// $colors: () !default;
// $colors: map-merge((
// "blue":       $blue,
// "indigo":     $indigo,
// "purple":     $purple,
// "pink":       $pink,
// "red":        $red,
// "orange":     $orange,
// "yellow":     $yellow,
// "green":      $green,
// "teal":       $teal,
// "cyan":       $cyan,
// "white":      $white,
// "gray":       $gray-600,
// "gray-dark":  $gray-800
// ), $colors);

$primary: $orange !default;
// $secondary:     $gray-600 !default;
// $success:       $green !default;
// $info:          $cyan !default;
// $warning:       $yellow !default;
// $danger:        $red !default;
// $light:         $gray-100 !default;
// $dark:          $gray-800 !default;

// $theme-colors: () !default;
// $theme-colors: map-merge((
// "primary":    $primary,
// "secondary":  $secondary,
// "success":    $success,
// "info":       $info,
// "warning":    $warning,
// "danger":     $danger,
// "light":      $light,
// "dark":       $dark
// ), $theme-colors);
// stylelint-enable

// Fonts
//

$font-family-sans-serif: "Circular Pro", Arial, sans-serif !default;
$font-size-base: 1rem !default;
$h1-font-size: $font-size-base * 3.78 !default;
$h2-font-size: $font-size-base * 3.03 !default;
$h3-font-size: $font-size-base * 2.43 !default;
$h4-font-size: $font-size-base * 1.95 !default;
$h5-font-size: $font-size-base * 1.56 !default;
$h6-font-size: $font-size-base * 1.25 !default;
$headings-line-height: 1.25 !default;
$small-font-size: 12px !default;

$line-height-lg: 1.6 !default;
$line-height-sm: 1.6 !default;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$container-max-widths: (
  sm: 100%,
  md: 100%,
  lg: 100%,
  xl: 1152px
) !default;

$grid-gutter-width: 0 !default;

$container-gutter-width: (
  xs: 16px,
  sm: 16px,
  md: 32px,
  lg: 64px,
  xl: 0px
) !default;

$columns-gutter-width: (
  xs: 8px,
  sm: 8px,
  md: 16px,
  lg: 24px,
  xl: 24px
) !default;
